body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
    .subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
:root{
    --bs-primary: #ffc107;
    --bs-primary-rgb:255, 193, 7;
    --bs-secondary: #000000;
    --bs-secondary-rgb:0, 0, 0;
}
    a{
    color: #ffc107;
    text-decoration: none;
}

a:hover{
    color: #000000;
}

.expedu_icon{
    color: #495057;
    text-decoration: none;
}

.expedu_icon:hover{
    color: #bd5d38;
}
